@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

iframe {
  margin: 0 auto;
}

body {
  /* background-color: rgb(129, 98, 158); */
  background-repeat: no-repeat;
  background-size: 100%;
  color: #EBC036;
  font-family: 'Wallpoet', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  background-color: black;
  padding: 10px;
  font-size: 50px;
  color: red;
}

.wrapper {
  display: flex;
}

.wrapper__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.clock__digit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin: 0;
}

.clock__digit:first-child {
  justify-content: flex-end;
}

.clock__digit:last-child {
  justify-content: flex-start;
}

span {
  font-size: 100px;
  margin-left: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
}

button {
  margin: auto;
  width: 100px;
  height: 40px;
  font-size: 30px;
  background-color: #ddd;
  outline-color: lawngreen;
}

.wrapper.hide {
  display: none;
}

#clocks {
  position: relative;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
  width: 725px;
  height: 150px;
  background-color: #333;
  color: lawngreen;
}

#clocks::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-image: url(icons/bell-off.svg);
}

#clocks.alarm--on::before {
  background-image: url(icons/bell.svg);
}

#clocks.bell {
  background-color: red;
}

.time-separator {
  animation-name: pulse;
  animation-duration: 1s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
}

.inputHours {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 160px;
  height: 100px;
  font-size: 100px;
  font-family: 'Wallpoet', cursive;
  color: lawngreen;
  border: black 10px solid;
  background-color: #333;
}

.inputMinutes {
  position: fixed;
  top: 100px;
  left: 300px;
  width: 160px;
  height: 100px;
  font-size: 100px;
  font-family: 'Wallpoet', cursive;
  color: lawngreen;
  border: black 10px solid;
  background-color: #333;
}


.input-button-hours {
  position: fixed;
  left: 170px;
}

.exit {
  width: 30px;
  height: 30px;
  border:red 3px solid;
}